/* Estilos para centrar el formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
  }
  
  form {
    width: 100%;
    max-width: 400px; /* Para limitar el ancho del formulario */
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between; /* Espaciado entre botones */
    margin-top: 5px;
  }
  